body {
    font-size: 14px;
    font-family: "Open Sans","Arial","Tahoma";
    color: #666869;
    background-color: #ebeeef;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
    color: #262626;
    font-family: "Iosevka Medium";
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 34px;
}

.h1-small {
    font-size: 20px;
}

h2 {
    color: #666869;
    font-size: 40px;
    font-family: "Iosevka Bold";
    margin-bottom: 30px;
}

h3 {
    color: #262626;
    font-size: 26px;
    font-family: "Iosevka Medium";
}

@media (max-width: 768px) {
    h2 {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
.container {
    width: 100%;
}
}
.navbar-default {
    background: transparent;
    border-color: inherit;
}

/* Helpers */
.ml15 {
    margin-left: 15px;
}

.mr15 {
    margin-right: 15px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb30 {
    margin-bottom: 30px;
}

.p10 {
    padding: 10px
}

/* TOP MENU */

.top-page-block {
    margin-bottom: 20px;
}

.footer {
    margin-top: 60px;
}

.top-menu {
    padding: 0;
    margin: 30px 0;
}

.top-menu-list {
    margin: 0;
    padding: 0;
}

.top-menu-list li{
    display: inline-block;
}

.top-menu-l .top-menu-list li {
    margin: 0 110px 0 0;
}

.top-menu-l .top-menu-list li:last-child {
    margin: 0;
}

.top-menu-r  .top-menu-list{
    text-align: right;
}

.top-menu-r .top-menu-list li:first-child {
    margin: 0;
}

.top-menu-r .top-menu-list li {
    margin: 0 0 0 110px;
}

.top-menu-list li a {
    font-family: 'Iosevka Slab';
    font-size: 24px;
    color: #fff;
    border-bottom: 1px dashed;
}

.top-menu-list li a:hover,
.top-menu-list li a:focus,
.top-menu-list li.active a{
    text-decoration: none;
    border-bottom: none;
}

.logo-top-menu{
    margin: 0 0 0 15px;
}

.top-menu-working-hours {
    font-size: 16px;
    font-family: "Century Gothic Regular";
    color: #fff;
    margin: 15px 0 0 0;
    float: left;
}

.top-menu-phone {
    color: #ffc90f;
    font-size: 20px;
    font-family: "Century Gothic";
    text-align: right;
    margin: 15px 0 0 0;
    float: right;
}

.top-menu-phone > a {
    color: #ffc90f;
}

.popup-apartment-phone .main-phone {
    color: #262626;
}

.top-menu-phone i,
.top-sticky-menu-phone i {
    font-size: 24px;
}

#top-sticky-menu-wrapper {
    background: #ffffff;
    height: 44px;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: -50px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

#top-sticky-menu-wrapper.affix-top {
    top: -50px;
}

#top-sticky-menu-wrapper.affix {
    top: 0;
}

#top-sticky-menu-wrapper.affix,
#top-sticky-menu-wrapper.affix-top {
    -webkit-transition: top 1s ease 0.6ms;
    transition:         top 1s ease 0.6ms;
}

.top-sticky-menu-working-hours {
    font-size: 16px;
    font-family: "Century Gothic Regular";
    color: #4c4e50;
    margin: 11px 0;
}

.top-sticky-menu-phone {
    color: #4c4e50;
    font-size: 16px;
    font-family: "Century Gothic Regular";
    margin: 8px 0;
    text-align: right;
}

.top-sticky-menu-phone > span {
    font-family: "Century Gothic";
	font-size: 20px;
}

.top-menu-l .top-menu-list li {
    margin: 0 60px 0 0;
}

.top-menu-r .top-menu-list li {
    margin: 0 0 0 90px;
}


/* PAGE TOP BLOCK */
.main-bg {
    background-image: url("../img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #598457;
    min-height: 760px;
    height: 100vh;
}

.main-block-content-middle {
    height: -o-calc(100% - 300px);
    height: calc(100% - 300px);
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center;
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center;
    margin-top: 80px;
}

.page-bg {
    background-image: url("../img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 180px;
    position: relative;
}

.page-bg:after {
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    background: rgba(255,93,177,0);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,93,177,0)), color-stop(100%, rgba(235,238,239,1)));
    background: -webkit-linear-gradient(top, rgba(255,93,177,0) 0%, rgba(235,238,239,1) 100%);
    background: linear-gradient(to bottom, rgba(255,93,177,0) 0%, rgba(235,238,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ebeeef', GradientType=0 );
    position: absolute;
    bottom: 0px;
}

.top-text-wrapper {
    text-align: center;
}

.top-text-wrapper h1 {
    font-family: 'Iosevka Heavy';
    color: #fff;
    margin: 0 0 30px 0;
    text-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75)
}

.top-text-wrapper p {
    font-family: 'Century Gothic Regular';
    font-size: 40px;
    color: #fff;
    margin: 0 0 45px 0;
    padding: 0;
    text-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75)
}

.decor {
    position: relative;
    overflow: hidden;
}

.decor a {
    margin-left: 10px;
    margin-right: 10px;
}

.decor::before {
    margin-left: -50%;
}

.decor::after {
    margin-right: -50%;
}

.decor::before,
.decor::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    height: 2px;
    background: #ffffff;
}


@media (max-width: 991px) {
    .top-text-wrapper p {
        font-size: 30px;
    }
}

@media (max-width: 625px) {
    .top-text-wrapper h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }
    .top-text-wrapper p {
        font-size: 26px;
        margin-bottom: 30px;
    }
    .scroll {
        display: none;
    }
    .decor::before,
    .decor::after {
        display: none;
    }
}

/* Breadcrumb */
.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    margin: 0 0 10px 0;
    padding: 0;
}

.breadcrumb > .active,
.breadcrumb li {
    color: #666869;
}

.breadcrumb a {
    color: #4ebb00;
}

/* Content */
.content {
    min-height: 300px;
}

/* Footer */
.footer-action-block {
    background: #545557;
    color: #fff;
    font-size: 16px;
}

.footer-action-block p {
    font-family: 'Century Gothic';
    padding: 20px 0;
    margin: 0;
}

/* .main-phone {
    color: #ffc90f;
}
.main-phone:hover {
    color: #ffc90f;
} */ 
/* #212121 */
.main-phone {
    color: #ffc90f; 
}

.main-phone:hover {
    color: #ffc90f;
    /* text-decoration: none; */
}

.footer-copyright-block {
    background: #68696a;
    color: #fff;
    padding: 5px 0px;
}

.footer-copyright-block p {
    margin: 0;
    font-size: 12px;
    padding: 5px 0;
}

.footer-menu-block {
    background: #5d5e5f;
    color: #fff;
    padding: 15px 0px;
}

.footer-menu-block .col-sm-12 {
    padding: 15px;
}

.footer-logo {
    padding: 12px 0 0 0;
}

.footer-logo img {
    height: 110px;
}

.footer-social {
    text-align: center;
}

.footer-social a{
    display: inline-block;
    padding: 5px 10px;
}

.footer-adress {
    text-align: right;
}

/* iframe {
    display: none;
} */

@media (max-width: 991px) {
    .footer-copyright-block,
    .footer-menu-block,
    .footer-adress {
        text-align: center;
    }
}

/* Footer Menu */
.footer-menu {
    margin: 0;
    padding: 6px 0 0 0;
}

.footer-menu li {
    list-style: none;
    padding: 0 0 5px 0;
}

.footer-menu li a {
    color: #fff;
}

.footer-menu li a:focus,
.footer-menu li a:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.top-search {
    margin: 0 auto;
    height: 90px;
}

.scroll {
    background: url("../img/index_sprite.png") no-repeat 0 -189px;
    width: 72px;
    height: 80px;
    margin: 40px auto 0;
}

.floating{
    animation-name: floating;
    -webkit-animation-name: floating;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(8%);
        transform: translateY(8%);
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(8%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

/*company-features*/

.company-features {
    margin: 50px 0;
}

.company-features-wrapper {
    position: relative;
    padding: 44px 0 0 0;
}

.company-features-item {
    float: right;
    background: #fff;
    min-height: 304px;
    padding: 24px 26px 24px 64px;
    margin: 0 0 0 60px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.company-features-wrapper .features-item-title {
    font-family: 'Iosevka Bold';
    font-size: 26px;
    color: #262626;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    padding: 0;
    line-height: 1.2em;
}

.company-features-wrapper .features-item-text {
    font-family: 'Century Gothic Regular';
    font-size: 16px;
    color: #666869;
    margin-bottom: 16px;
    padding: 0;
}

.company-features-icon {
    width: 100px;
    height: 100px;
    padding: 18px 16px;
    position: absolute;
    top: 25px;
    left: 0;
}

.features-icon-payment-bg,
.features-icon-discount-bg {
    background: #4ebb00;
}

.features-icon-price-bg {
    background: #f0b501;
}

.company-features-icon-payment {
    width: 72px;
    height: 63px;
    overflow: hidden;
    background: url("../img/index_sprite.png") no-repeat 0 -126px;
}

.company-features-icon-price {
    width: 72px;
    height: 63px;
    overflow: hidden;
    background: url("../img/index_sprite.png") no-repeat 0 -63px;
}

.company-features-icon-discount {
    width: 72px;
    height: 63px;
    overflow: hidden;
    background: url("../img/index_sprite.png") no-repeat 0 0;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .company-features-wrapper .features-item-title {
        margin: 0 0 24px 0;
    }
    .company-features-item {
        padding: 24px 20px 24px 50px;
    }
}

@media (max-width: 991px) {
    .company-features-item {
        min-height: 230px;
    }
    .company-features-wrapper {
        max-width: 580px;
        margin: auto;
    }
}

/* Coming soon */
.coming-soon {
    padding: 50px 0;
    font-size: 16px;
}

.coming-soon-title {
    font-family: "Century Gothic";
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.coming-soon-description {
    margin: 25px 0;
}

.text-link:hover,
.text-link:focus {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.coming-soon-btn {
    padding: 16px 62px;
}

.coming-soon-image {
    padding: 0 56px;
}

#contact-map {
    height: 590px;
    border-bottom: 10px solid #262626;
    background: #ccc;
}

.contact-info ul {
    margin: 0;
    padding: 0;
}
.contact-info ul li a {
    color: #666869;
}
.contact-info ul li {
    font-size: 16px;
    font-weight: 100;
    list-style: none;
    padding: 0 0 20px 0;
}

.contact-info ul li i {
    color: #4ebb00;
    margin: 0 20px 0 0;
}

.contacts {
    background: #fff;
    padding: 40px 30px;
}

.contacts h3 {
    padding: 0 0 30px 0;
}

@media (max-width: 991px) {
    .contacts h3 {
        padding: 0 0 10px 0;
    }
}

.custom-form .form-control{
    height: auto;
    font-size: 16px;
    color: #929596;
    background: #f6f8f8;
    padding: 14px 16px;
    border-radius: 0px;
    border: 1px solid #d3d6d7;
}

.custom-form .has-error .help-block {
    font-size: 12px;
}

.alert {
    margin: 20px 0;
}

.alert-success {
    color: #fff;
    background-color: #52976c;
    border-color: #1b7850;
}

.property-developer-item {
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    min-height: 359px;
}

.property-developer-item-logo {
    height: 60px;
    text-align: center;
    margin-bottom: 30px;
}

.property-developer-item-logo img{
    max-height: 60px;
}

.btn-more {
    font-family: "Iosevka Medium";
    padding: 12px 38px;
    margin: 15px 0px;
    text-transform: uppercase;
    font-size: 16px;
}

.developer-detail-box {
    margin-bottom: 30px;
}

.property-developer-detail {
    background: #fff;
    padding: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    margin-bottom: 30px;
}

.property-developer-detail-logo-wrapper {
    margin-top: -50px;
    padding-bottom: 20px;
}
.property-developer-detail-logo {
    display: inline-block;
    padding: 20px;
    background: white;
    border: 1px solid #d3d5d6;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.property-developer-number {
    background: #fff;
    padding: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    margin-bottom: 20px;
    padding: 22px 30px 39px;
    overflow: hidden;
}

.property-developer-number-description,
.property-developer-number-value {
    display: inline-block;
    font-family: 'Iosevka Bold';
}

.property-developer-number-value {
    font-size: 60px;
    color: #4ebb00;
    line-height: 1;
    margin-right: 5px;
}

.property-developer-number-description {
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
}

.property-developer-number-notation {
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 30px;
    font-size: 12px;
    letter-spacing: 10px;
    color: #949799;
    background-color: #e9eced;
}

.property-developer-number-image {
    position: absolute;
    right: 10px;
    top: 30px;
}

/*PROPERTY-DEVELOPER-STATISTIC*/

.property-developer-statistic {
    margin: 15px 0 0 0;
}

.property-developer-statistic-item {
    min-height: 155px;
    background: #fff;
    padding: 30px 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.property-developer-statistic-number {
    color: #4ebb00;
    font-family: "Iosevka Medium";
    text-align: center;
    font-size: 40px;
    margin: 0 0 15px;
    line-height: 1em;
}

.property-developer-statistic-text {
    font-family: "Century Gothic";
    text-transform: uppercase;
    text-align: center;
}

.property-developer-statistic .row {
    margin: 0;
}

.property-developer-statistic .col-md-five {
    padding-left: 0;
    padding-right: 15px;
}

.property-developer-statistic .col-md-five:last-child {
    padding-right: 0px;
}

.property-developer-statistic .col-sm-five {
    padding-left: 0;
    padding-right: 15px;
}

.property-developer-statistic .col-sm-five:last-child {
    padding-right: 0px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .property-developer-statistic-item {
        min-height: 140px;
        padding: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .property-developer-statistic-number {
        font-size: 36px;
        margin-bottom: 10px;
    }
    .property-developer-statistic-text {
        text-transform: none;
    }
}

@media (max-width: 767px) {
    .property-developer-statistic .col-sm-five {
        padding: 15px;
    }

    .property-developer-statistic .col-sm-five:last-child {
        padding-right: 15px;
    }
    .property-developer-statistic .row {
        margin-left: -15px;
        margin-right: -15px;
    }
}

/*PROPERTY-DEVELOPER-FEATURES*/

.property-developer-features {
    margin: 60px 0 0 0;
}

.property-developer-features h2 {
    margin: 0 0 30px 0;
    padding: 0;
}

.property-developer-featuries-item {
    background: #fff;
    padding: 20px;
    margin: 0 0 30px 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    min-height: 292px;
}

.property-developer-featuries-item h3 {
    color: #4ebb00;
    font-family: "Iosevka Bold";
    font-size: 26px;
    margin: 0px 0 15px 0;
    line-height: 1.1em;
}


.property-developer-featuries-item h3 span {
    display: block;
    font-family: "Iosevka Regular";
    color: #262626;
}

.property-developer-residential-complex {
    margin: 30px 0 0 0;
}

.property-developer-residential-complex h2{
    margin: 0 0 30px 0;
    padding: 0;
}

@media (max-width: 767px) {
    .property-developer-featuries-item {
        min-height: 220px;
    }
}

/* TODO: ISPRAVIT!!!!! */

.property-developer-residential-complex-item {
    background: #fff;
    margin: 0 0 30px 0;
}

.property-developer-residential-complex-info {
    padding: 20px;
    min-height: 300px;
}

.property-developer-residential-complex-info ul {
    min-height: 107px;
}

.property-developer-residential-complex-thumb {
    text-align: center;
    padding: 45px 0;
}

.property-developer-residential-complex-title {
    margin: 0 0 20px 0;
}

.property-developer-residential-complex-title a{
    font-family: "Iosevka Bold";
    font-size: 22px;
    color: #262626;
}

.property-developer-residential-complex-title a:hover,
.property-developer-residential-complex-title a:focus {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.property-developer-residential-complex-item {
    width: 100%;
}

.property-developer-residential-complex-item img {
    width: 100%;
}

.about-company-title {
    background: #4ebb00;
    color: #262626;
    font-family: "Iosevka Medium";
    font-size: 40px;
    padding: 30px;
    text-transform: uppercase;
    line-height: 1.2em;
    height: 262px;
}

.about-company-title-cstm span {
    display: block;
    color: #fff;
}

.about-company-text {
    padding: 30px;
    margin: 130px 0 0 0;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.about-company-text li{
    margin-bottom: 10px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .about-company-img img {
        width: 346px;
    }
    .about-company-title {
        padding: 24px;
        font-size: 36px;
        height: 222px;
    }
    .about-company-text {
        margin: 110px 0 0 0;
    }
}

@media (max-width: 991px) {
    .about-company-img img {
        display: none;
    }
    .about-company-text {
        margin: 0 0 0 0;
    }
    .about-company-title {
        font-size: 36px;
        height: auto;
    }
}

#navigation.affix {
    top: 100px;
}

.help-form-wrapper {
    background: #fff;
    padding: 7px;
    position: relative;
}

.help-form-content {
    padding: 10px;
    border: 2px solid #c6c8c9;
}

.help-form-img {
    position: absolute;
    top: -70px;
    left: 60px;
    margin: 0 auto;
}

.help-form-title {
    text-align: center;
    font-family: "Iosevka Bold";
    font-size: 20px;
    text-transform: uppercase;
    color: #4ebb00;
    margin: 80px 0 30px 0;
}

.help-form-title span {
    display: block;
    font-family: "Iosevka Medium";
    font-size: 30px;
    color: #262626;
}

.help-form-body {
    margin: 0 0 40px 0;
    padding: 0 15px;
}

.help-form-body ul{
    margin: 0;
    padding: 0 0 0 30px;
}

.help-form-footer {
    margin: 20px 0 0 0;
}

.help-form-footer p {
    text-align: center;
}

.help-form-footer p span {
    text-transform: uppercase;
}

.navigation-rc {
    padding: 0;
    margin: 0;
    width: 262px;
}

.navigation-rc li {
    list-style: none;
    font-family: "Iosevka Slab";
    font-size: 18px;
    background-color: white;

    height: 50px;
    margin-bottom: 7px;
}

.navigation-rc li a {
    color: #666869;
}

.navigation-rc li a:hover {
    text-decoration: none;
}

.navigation-rc-icon-bg {
    float: left;
    height: 50px;
    width: 50px;
    background-color: #f7f7f7;
    padding: 9px 6px;

    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.navigation-rc-icon {
    background-image: url("../img/residential_complex.png");
    width: 38px;
    height: 31px;

    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.navigation-rc li:hover .navigation-rc-icon-bg{
    background-color: #4EBB00;
}

.navigation-rc-icon-key {  background-position: 0px -31px;  }
.navigation-rc li:hover .navigation-rc-icon-key {  background-position: -36px -31px;  }

.navigation-rc-icon-info {  background-position: 0px -62px;  }
.navigation-rc li:hover .navigation-rc-icon-info {  background-position: -36px -62px;  }

.navigation-rc-icon-infrastructure {  background-position: 0px -93px;  }
.navigation-rc li:hover .navigation-rc-icon-infrastructure {  background-position: -36px -93px;  }

.navigation-rc-icon-stages-construction {  background-position: 0px 0px;  }
.navigation-rc li:hover .navigation-rc-icon-stages-construction {  background-position: -36px 0px;  }

.navigation-rc-item-value {
    float: left;
    border-bottom: 1px solid rgba(102, 104, 105, 0.3);
    margin: 11px 0px 0px 15px;
}

.navigation-rc li:hover .navigation-rc-item-value {
    border: none;
}

.complex-info h2 {
    margin: 0 0 30px 0;
}

.apartments-not-found {
    text-align: center;
    margin: 60px 0;
    font-size: 16px;
}

.apartments-not-found span {
    font-size: 18px;
    font-weight: bold;
}

.modal-on-detail-rc .btn-custom-lg,
.developer-help-form .btn-custom-lg{
    padding: 16px 0px 13px 0px;
}

.modal-footer .custom-form {
    text-align: left;
}

.apartment-modal-form p{
    text-align: center;
    font-family: 'Iosevka Medium';
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.sended-msg {
    font-family: 'Iosevka Medium';
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin: 0;
}

#help-form.affix {
    top: 114px;
}

#help-form.affix,
#help-form.affix-bottom,
#help-form.affix-top{
    max-width: 262px;
}

.nav-pills > li {
    height: 60px;
}

.sentence {
    width: 262px;
    margin-top: 60px;
}

.sentence-title {
    font-size: 18px;
    font-family: "Century Gothic";
    text-transform: uppercase;
    color: #666869;
    margin: 0 0 15px 0;
}

.sentence-list {
    padding: 0;
    margin: 0;
}

.sentence-list li {
    list-style: none;
    border-bottom: 1px solid #d1d2d2;
    padding: 15px 0;
}

.sentence-list li:last-child {
    border-bottom: none;
}

.sentence-list li i {
    color: #d1d2d2;
    font-size: 26px;
    float: left;
    margin: 0 16px 4px 0;
    line-height: 0.8em;
}

.sentence-footer {
    margin-top: 20px;
    text-align: center;
    line-height: 1.8em;
}

.sentence-footer span {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Century Gothic";
}

/* Residential Complexes */

.new-building-filter {
    border: 1px solid #969797;
    margin-bottom: 45px;
}

.new-building-filter-block {
    padding: 20px 20px 15px;
}

.new-building-filter-block + .new-building-filter-block {
    border-top: 1px solid #cfd0d1;
}

.accordion-triangle {
    display: inline-block;
    width: 16px;
    height: 9px;
    background-image: url('/img/residential/accordion-triangle.png');
}
.new-building-filter select,
.new-building-filter input[type=number] {
    border: 1px solid #d3d6d7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding-left: 5px;
    width: 100%;
}

.new-building-filter input[type=checkbox] {
    opacity: 0;
    width: 26px;
    height: 17px;
    margin-top: 0;
}

.new-building-filter input + label:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 16px;
    height: 16px;
    background-color: #d1d3d4;
    top: 3px;
}

.new-building-filter input[type=checkbox]:checked + label:before {
    background: url('/img/residential/check-mark.png') center center no-repeat #4ebb00;
    background-size: 80%;
}

.new-building-filter label {
    font-weight: normal;
    cursor: pointer;
    margin: 0;
}

.new-building-filter-block-title {
    color: #262626;
    font-size: 14px;
    padding-bottom: 5px;
    cursor: pointer;
}

.new-building-filter-block-title i {
    transition: transform ease-out 0.2s;
    transform: rotate(180deg);
}

.new-building-filter-block-title.collapsed i {
    transform: rotate(0deg);
}

.new-building-filter-block-content-wrapper {
    overflow: hidden;
}

.new-building-filter-block-content {
    padding-bottom: 5px;
}

.new-building-filter-block-content.collapse-in {
    display: none;
}

.new-building-filter-block-title span {
    margin-left: 10px;
}

.new-building-filter-block-content .row {
    margin-left: -10px;
    margin-right: -10px;
}

.new-building-filter-block-content .col-md-12,
.new-building-filter-block-content .col-md-6 {
    padding: 10px 10px 0;
}

.new-building-filter-block-item {
    display: table;
    width: 100%;
    position: relative;
}

.new-building-filter-block-item .new-building-filter-block-item-left,
.new-building-filter-block-item .new-building-filter-block-item-right {
    display: table-cell;
}

.new-building-filter-block-item-left {
    width: 27px;
}

.new-building-filter-button {
    border-radius: 50px;
    font-size: 16px;
    font-family: 'Iosevka Medium';
    text-transform: uppercase;
    background-color: #ffc90f;
    color: #534104;
    width: 100%;
    line-height: 1;
    padding: 10px;
    border: none;
    box-shadow: 0 1px 3px rgba(255, 201, 15, 0.6);
    margin-bottom: 5px;
}

.new-building-filter-button:hover {
    background-color: #ffd106;
    box-shadow: 0 1px 1px rgba(255, 201, 15, 0.6);
}

.new-building-item {
    margin: 0 0 20px 0;
}

@media (min-width: 1200px) {
    .new-building-item > .row > .col-lg-2 {
        width: 25%;
        padding-left: 5px;
    }
    .new-building-item > .row > .col-lg-10 {
        width: 75%;
        padding-right: 5px;
    }
    .new-building-main-block .col-lg-5 {
        padding-right: 0px;
        width: 45%;
    }
    .new-building-main-block .col-lg-7 {
        width: 55%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .new-building-main-block .col-lg-7 {
        padding-left: 0px;
    }
    .new-building-range-prices .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .new-building-range-prices .col-md-4 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.new-building-main-block {
    background: #fff;
    margin-bottom: 10px;
}

.new-building-image img {
    max-height: 246px;
}

.new-building-image-default-thumb {
    width: 296px;
    text-align: center;
    padding: 84px 0;
}

.new-building-info {
    padding: 20px 20px 20px 5px;
}

@media (max-width: 767px) {
    .new-building-info {
        padding: 20px;
    }
}

@media (max-width: 400px) {
    .new-building-item {
        font-size: 12px;
    }
}

.new-building-info .list-params {
    margin-bottom: 26px;
}

.new-building-info .btn-more {
    font-size: 16px;
    font-family: "Iosevka Regular";
    padding: 10px 23px;
    margin: 10px 0 0 0;
}

.new-building-info .list-params li {
    margin: 0 0 10px 0;
}

.new-building-title {
    font-family: "Iosevka Bold";
    font-size: 22px;
    margin: 0 0 26px 0;
}

.new-building-title a {
    color: #262626;
}

.new-building-title a:hover,
.new-building-title a:focus {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.new-building-price-from p {
    color: #8c8e8f;
    margin: 0 0 4px 0;
    padding: 0;
}

.new-building-price-from .new-building-price-from-value {
    font-family: "Iosevka Bold";
    font-size: 20px;
    color: #a5a9ab;
    padding: 0;
    margin: 0;
    line-height: 1.2em;
}

.new-building-price-from-value span {
    color: #262626;
}

.new-building-price-from,
.new-building-more-info {
    width: 50%;
}

.new-building-more-info {
    text-align: right;
}

#search-new-buildings .pagination, #search-new-layout-flats .pagination {
    border-radius: 0;
}

#search-new-buildings .pagination > li, #search-new-layout-flats .pagination > li {
    display: inline-block;
    margin: 0 8px 0 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

#search-new-buildings .pagination > li:first-child > a,
#search-new-buildings .pagination > li:first-child > span,
#search-new-layout-flats .pagination > li:first-child > a,
#search-new-layout-flats .pagination > li:first-child > span{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#search-new-buildings .pagination > li:last-child > a,
#search-new-buildings .pagination > li:last-child > span,
#search-new-layout-flats .pagination > li:last-child > a,
#search-new-layout-flats .pagination > li:last-child > span{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#search-new-buildings .pagination > li > a,
#search-new-buildings .pagination > li > span,
#search-new-layout-flats .pagination > li > a,
#search-new-layout-flats .pagination > li > span{
    color: #666869;
    font-family: "Iosevka Slab";
    text-transform: uppercase;
}

#search-new-buildings .pagination > .active > a,
#search-new-buildings .pagination > .active > span,
#search-new-buildings .pagination > .active > a:hover,
#search-new-buildings .pagination > .active > span:hover,
#search-new-buildings .pagination > .active > a:focus,
#search-new-buildings .pagination > .active > span:focus,
#search-new-layout-flats .pagination > .active > a,
#search-new-layout-flats .pagination > .active > span,
#search-new-layout-flats .pagination > .active > a:hover,
#search-new-layout-flats .pagination > .active > span:hover,
#search-new-layout-flats .pagination > .active > a:focus,
#search-new-layout-flats .pagination > .active > span:focus{
    color: #fff;
    background: #4ebb00;
    border: 0;
}

.new-building-range-item {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.new-building-range-item-title {
    font-family: "Century Gothic";
    color: #262626;
    margin-bottom: 6px;
}

.new-building-range-item-area {
    font-family: "Iosevka Regular";
    color: #8c8e8f;
    margin-bottom: 6px;
}

.new-building-range-item-cost {
    color: #666869;
}

.new-building-image-background {
    height: 296px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.mortgage {
    background-color: white;
}

.mortgage-features {
    font-family: "Iosevka Bold";
    text-align: center;
    padding: 30px 30px 20px;
    /*border-bottom: 1px solid #d3d6d7;*/

    min-height: 100px;
}

.mortgage-features sup {
    font-size: 26px;
    color: #262626;
}

.mortgage-features span {
    font-size: 40px;
    color: #4ebb00;
}

.mortgage-features p {
    font-family: "Century Gothic";
    font-size: 16px;
    color: #262626;
}

.mortgage-description {
    padding: 30px 30px 15px;
    /*min-height: 282px;*/
    min-height: 343px;
}

.mortgage-description ol {
    margin: 0 0 30px 0;
    padding: 0 0 0 16px;
    line-height: 2em;
}

.mortgage-info-privacy {
    background-color: #e0e5e6;
    text-align: center;
    font-size: 12px;
    color: #717273;
    padding: 20px;
}

.mortgage-info-privacy i {
    font-size: 14px;
    margin: 0 10px 0 0;
}

.mortgage .custom-form .form-control {
    padding: 13px 25px;
    border-radius:50px;
}

.mortgage .custom-form .btn {
    margin: 0px;
    padding: 16px 36px;
}

.mortgage-bg {
    background: url('../img/morgage-main-img.jpg') center center;
    background-size: cover;
    height: 500px;
}

.mortgage-info-block {
    height: 500px;
    overflow: hidden;
}

.no-pleft {
    padding-left: 0 !important;
}

.no-pright {
    padding-right: 0 !important;
}

.search-sidebar {
    border: 1px solid #969797;
    padding: 20px 20px 5px 20px;
    margin-bottom: 45px;
}

.search-sidebar .form-group i {
    font-size: 25px;
    float: right;
    color: #969797;
    padding-bottom: 2px;
    line-height: 19px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}

.search-sidebar .collapsed i {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.form-group {
    cursor: pointer;
}

.form-group label {
    cursor: pointer;
}

.search-checkbox-list {
    border-top: 1px solid #c3c3c3;
    padding-top: 15px;
    margin-bottom: 0px;
}

@media (max-width: 1200px) and (min-width: 992px) {
    .search-sidebar {
        font-size: 12px;
    }
}

.label-inline {
    margin: 0 0 0 10px;
    font-weight: normal;
}

.search-checkbox-list .help-block {
    color: #a94442;
    font-size: 12px;
}

.search-checkbox-list input[type='checkbox'] {
    opacity: 0;
}

#priceRange {
    opacity: 0;
}

.mt10 {
    margin-top: 10px;
}

.leaflet-popup-content{
	margin: 0px !important;
}

.apartment_filter_number_rooms2 {
		padding: 20px 15px 15px 15px;
		text-align: center;
		border-bottom: 1px solid #cccfd0;
}

.apartment_filter_number_rooms_group {
	display: inline-block;
	padding: 7px 5px;
	position: relative;
	text-align: left;
}

.property-developer-search-filters-rooms-item {
    position: relative;
    text-align: left;
    font-size: 16px ;
}

.property-developer-search-filters-rooms-item-wrapper {
    padding: 2px 13px 2px 0;
    display: inline-block;
}

.property-developer-search-filters-rooms-item-wrapper + .property-developer-search-filters-rooms-item-wrapper {
    border-left: 1px solid #d1d3d5;
    padding-left: 15px;
}

.property-developer-search-filters-rooms-item label {
    margin-bottom: 0;
}

.property-developer-search-filters-rooms-item > input[type="checkbox"]:checked + label::before {
    content: "";
    height: 16px;
    width: 15px;
    background: url(/img/chek.png);
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 0px;
}

.property-developer-search-filters-rooms-item label,
.apartment_filter_number_rooms2  .apartment_filter_number_rooms_group > label {
	cursor: pointer;
	color: #a0a5a7;
	font-weight: normal;
}

.apartment_filter_number_rooms2  .apartment_filter_number_rooms_group > label:hover {
}

.apartment_filter_number_rooms2  .apartment_filter_number_rooms_group > label > .type-rooms-vlaue {
	border-bottom: 3px solid #eceff0;
	font-size: 16px;
	padding-bottom: 4px;
	margin-bottom: 4px;
	min-width: 145px;
}

.apartment_filter_number_rooms2  .apartment_filter_number_rooms_group > input[type="checkbox"]:checked + label  > .type-rooms-vlaue {
	border-bottom: 3px solid #58bf0e;
} 

.apartment_filter_number_rooms2  .apartment_filter_number_rooms_group > label > .cost-distance{
	font-size: 12px;
}

.property-developer-search-filters-rooms-item > input[type="checkbox"],
.apartment_filter_number_rooms2  .apartment_filter_number_rooms_group > input[type="checkbox"] {
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.property-developer-search-filters-rooms-item:before,
.apartment_filter_number_rooms2  .apartment_filter_number_rooms_group .type-rooms-vlaue::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 1px solid #cccfd0;
	margin-right: 10px;
}

.apartment_filter_number_rooms2  .apartment_filter_number_rooms_group > input[type="checkbox"]:checked + label::before {
    content: "";
    height: 16px;
    width: 15px;
    background: url(/img/chek.png);
    display: inline-block;
    position: absolute;
	left: 7px;
    top: 6px;
}

.property-developer-search-filters-rooms-item > input[type="checkbox"]:checked + label,
.apartment_filter_number_rooms2  .apartment_filter_number_rooms_group > input[type="checkbox"]:checked + label {
	color: #262626;
}

.apartment_filter_number_rooms2  .apartment_filter_number_rooms_group > input[type="checkbox"]:checked + label  > .cost-distance {
	color: #666869;
} 

.rc-mortgage-input-alert {
  display: none;
}

.rc-mortgage-request-ok {

}

/** need-rework **/

#gallery {
    margin-bottom: 30px;
}

.oferta{
    font-size: 11px;
}
.project-declaration{
    font-size: 11px;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    text-align: center;
    color: #262626;
}
.project-declaration a{
    color: #262626;
    text-decoration: underline;
}
.footer-oferta{
    color: #fff;
}
.partners{
    padding: 50px 30px;
}
