
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//for homePage
$bg-light: #FDFDFD; 
$font-main-color: #526570;
$font-main2-color: #5A5863;
$font-main2-color-50: rgba($font-main2-color, 0.5);
$font-logo-color: #60CE78;
$font-hover-color: #27AE60;
$button-main-color: #5DBF16;
$hover-button-main-color: #6CA100;
$button-text-main-color: #FAFBFB;
$button-outlined-color: rgba($color: $font-main2-color, $alpha: 0.7);
$button-secondary-color: #F4F4F5;
$button-secondary-font-color: rgba($color: $font-main2-color, $alpha: 0.8);
$hover-button-secondary-color: #60CE78;
$hover-button-secondary-font-color: $bg-light;
$h4-color: rgba($color: $font-main2-color, $alpha: 0.9);

$screen-xs: 0;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1800px;
