@import "./../../../../includes/variables.scss";

.section5 {
  width: 100%;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./../../images/bg-image-sc5.jpg');

  @media screen and (min-width: $screen-xs) and (max-width: $screen-xl - 1px) {
    .feedback-form{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-end;

      &__input-wrap {
        margin-right: 10px;
      }

      &__button {
        width: 280px;
        margin-bottom: 15px;
        margin-left: 10px;
      }

      &__policy{
        width: 100%;
        text-align: center;
      }
    }
  }


  &__main {
    max-width: 1200px;
    display: flex;
    margin-top: 130px;

    @media screen and (min-width: $screen-xs) and (max-width: $screen-xl - 1px) {
      display: flex;
      flex-direction: column;
    }

  }

  &__promo {
    width: 438px;

    @media screen and (min-width: $screen-xs) and (max-width: $screen-xl - 1px) {
      display: flex;
      width: 100%;
    }

  }

  &__header {
    width: 420px;
    font-style: normal;
    font-weight: bold;
    font-size: 40/14 * 1rem;
    line-height: 54/40 * 1em;
    margin-bottom: 32px;
    color: $h4-color;
  }

  &__article {
    font-weight: 500;
    font-size: 16/14*1rem;
    line-height: 28/16*1em;
    color: $button-outlined-color;

    p {
      margin-left: 12px;
    }
  }

  &__row {
    display: flex;
    align-items: center;

    p {
      color: $button-outlined-color;
    }
  }

  &__arrow {
    margin: 88px 0 0 auto;

    @media screen and (min-width: $screen-xs) and (max-width: $screen-xl - 1px) {
      display: none;
    }

  }

  &__form {
    justify-self: flex-end;
    margin-left: 30px;
    background: $bg-light;
    box-shadow: 0px 16px 25px rgba(90, 88, 99, 0.1);
    border-radius: 8px;
    padding: 24px 54px;

    @media screen and (min-width: $screen-xs) and (max-width: $screen-xl - 1px) {
      margin: 0 10px;
    }

  }

  &__logos {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 154px auto 88px auto;


    a,
    a.text:active, 
    a.text:hover, 
    a.text {
    color: inherit;
    text-decoration: inherit;
    }

    p {
      text-transform: uppercase;
    }

    @media screen and (min-width: $screen-xs) and (max-width: $screen-xl - 1px) {
      display: none;
    }

  }
}
