.tabss {
	list-style-type: none;
}
.tabss .content-li > input {
	display: none;
}
.tabss .content-li > .label-tabs {
	cursor: pointer;
	user-select: none;
}
.tabss .tab-content {
	display: none;
}
.tabss .content-li > input:checked + .label-tabs {
	background-color: #999;
}
.tabss .content-li > input:checked ~ .tab-content {
	display: block;
}






.popup-right{
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}
.popup-apartment-specifications-title{
    color: #7C858B;
    font-size: 100%;
    font-family: Montserrat Regular;
    white-space: nowrap;
    padding:0;
    padding-bottom: 5px;
}
.popup-apartment-specifications-title.callback {
    padding: 10px 0;
}
.popup-apartment-payment-methods {
    padding-left: 10px;
    font-family: Montserrat Regular;
}
.popup-text-info{
    color: #fff;
    font-size: 20px;
    font-family: MontserratBold;
    padding-bottom: 5px;
    letter-spacing: -0.5px;
}
.methods-pay{
    color: #1F1D39;
    font-size: 115%;
    font-family: Montserrat Regular;
    padding: 12px 0 10px 0;
}
.popup-apartment-specifications-value{
    color: #42484D;
    font-size: 26px;
    font-family: MontserratBold;   /* line-height: 3; */
}
.popup-apartment-specifications-value sup{
    display: inline;
}

.plan-image{
    margin: auto;
    width: 100%;
    height: auto;
    padding: 40px;
    box-sizing: border-box;
}

.number-room-wrapper{
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(26, 23, 64, 0.15);
    background: #fff;
    padding: 15px 25px;
    /* width: 100%; */
    box-sizing: border-box;
    line-height: 1.2;
    margin: 0 10px;
    flex-grow: 1;
}
.number-room-date{
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(26, 23, 64, 0.15);
    background: #fff;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.2;
    margin-bottom: 10px;
}
/* .plan-info .number-room-wrapper {
    margin-right: 4%;
}
.plan-info .number-room-wrapper:last-child {
    margin-right: 0%;
} */
.plan-info{
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    margin: 0 -10px;
    
    padding-bottom: 20px;
}
.plan-info-cont-wrapper{
    background: #EFEFF1;
    padding: 30px;
}

.confidential-policy a{
    color: #4EBB00;
    font-weight: bold;
    display: inline;
}
.method{
    display: flex;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(26, 23, 64, 0.15);
    padding: 10px 10px 10px 20px;
    margin-bottom: 20px;
}

.popup-text-under{
    font-family: Montserrat Regular;
    font-size: 14px;
    color: #fff;
    margin-bottom: 13px;
}
.price-number-wrapper b a{
    font-size: 172%;
    text-decoration: none;
    color: #1F1D39;
    font-family: MontserratBold;
}
.number-send{
    display: flex;
    justify-content: space-between;
}

.number-button span{
    font-size: 24px;
    padding-right: 5px;
}

  


/* .number-placeholder input placeholder{
    border-radius: 5px;
    background: #F8F8F9;
    border: 1px rgb(248, 248, 249) solid;
    box-shadow: inset 0px 2px 5px 0px rgba(26, 23, 64, 0.2);
    color:#BDC0C3;
    padding: 12px 9px;
    font-size: 125%;
    font-family: Montserrat Regular; 
} */
/* .popup-phone-box{
    border-bottom: 1px #D9DDDF solid;
    padding-bottom: 10px;
} */
.close-popup{
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: 20px;
    z-index: 10;
}
.method span{
    display: inline;
}
.marg-15{
    padding-left: -15px;
    padding-right: -15px;
}

.popup-body {
    padding: 0;
    max-width: 630px;
    background: #EFEFF1;
    position: relative;
}
.close-popup-m {
    display: none;
}
@media (min-width:768px){
    .popup-body {
        min-width: 605px;
    }
}
 .house-info{
    /* display: flex; */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(26, 23, 64, 0.15);
    padding: 10px 10px 10px 20px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 15px;

}
.pad-left{
    padding-left: 5px;
} 
.wrapper-string{
    display: flex;
}

.info-popup-title{
    font-size: 16px;
    font-family:Montserrat Regular ;
    color:#1F1D39;
    padding: 20px;

}
.info-popup-wrapper{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(26, 23, 64, 0.15);
    margin-bottom: 20px;
}
.data-popup{
    color: #9DA0A3;
    font-family: Montserrat Regular;
    font-size: 14px;
    padding-bottom: 5px;
}
.data-popup-base{
    color: #42484D;
    font-family: Montserrat Regular;
    font-size: 14px;
}
.info-popup-wrapper-list{
    display: block;
    border-top: 1px #D9DDDF solid;
    margin: 0 30px 0 30px;
    padding: 20px 0;
}
.info-popup-wrapper-list-item {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.info-popup-wrapper-list-item > div {
    width: 100%;
}
.table-wrapper{
    border-radius: 0 0 5px 5px;
}

.popup .accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 25px;
    width: 100%;
}

.popup .accordion:after {
    content: 'Показать';
    margin: 25px 0;
    width: 130px;
    color: #56B811;
    font-family: MontserratBold; 

    border-left: 1px solid #C8CFD3;
}
.popup .accordion-active:after {
    content: 'Скрыть';
    color: #56B811;
    
}






.info-popup-title-full {
    display: inline;
}
.info-popup-title-short {
    display: none;
}
.popup-text-info span{
    display: none;
}

@media(min-width:0px) and (max-width:768px){
    .info-popup-wrapper-list {
        margin: 0 15px;
    }
    .popup .accordion {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 0 5px 15px;
        width: 100%;
    }
    .popup .accordion:after {
        content: url('/img/down.png');
        margin: 15px 0;
        width: 60px;
        border-left: none;
    }
    .popup .accordion-active:after {
        content: url('/img/up.png');
    }

    
    .was-passed{
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0px 2px 8px 0px rgba(26, 23, 64, 0.15);
        background: #fff;
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
    }
    .call-back{
        padding: 10px 15px;
        background: #4EBB00;
        color: #fff;
        font-size: 110%;
        font-family: Montserrat Regular;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .call-button-box{
        display: flex;
        background: #fff;
        font-family: MontserratBold;
        color: #4EBB00;
        font-size: 122%;
        margin: 10px 20px;
        padding: 15px 20px;
        border-radius: 30px;
        justify-content: center;
    }
    .call-image img{
        padding-right: 10px;
    }
    .call-back a{
        display: block;
        color: #4EBB00;
        text-decoration: none;
    }
    .all-rooms-popup{
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0px 2px 8px 0px rgba(26, 23, 64, 0.15);
        background: #fff;
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
        color: #4EBB00;
        font-size: 120%;
        font-family: MontserratBold;
        text-align: center;
    }
    .close-popup-m {
        transform: rotate(-90deg);
        cursor: pointer;
        position: absolute;
        right: calc(93% - 90px);
        top: 47%;
        /* margin-bottom: -65px; */
        padding: 10px;
        font-family: MontserratSemiBold;
        color: #fff;
        text-transform: uppercase;
        font-size: 110%;
        z-index: 10;
        letter-spacing: 1px;
        display: flex;
    }
    .close-popup-m img{
        padding-right: 15px;
    }
    .popup-body{
        width:80%;
    }
    


    .plan-info-cont-wrapper {
        padding: 15px;
    }
    .popup-apartment-specifications-value {
        font-size: 20px;
        font-family: MontserratBold;
        line-height: 1.4;
    }
    .popup-apartment-specifications-title {
        font-size: 12px;
    }
    .method {
            display: block;
            padding: 10px 10px 10px 20px;
            margin-bottom: 20px;
        padding: 10px 10px 10px 15px;
    }
    .popup-apartment-payment-methods{
        color:#111;
        font-size: 14px;
        font-family: Montserrat Regular;
        padding-left: 0;
    }
    .date-width {
        margin: 0 0 20px 0;
        width: 100%;
    }
    .plan-info {
        padding-bottom: 0px;
        margin: 0px -7.5px;
    }
    .number-room-wrapper {
        margin-bottom: 15px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: 7.5px;
        margin-right: 7.5px;
    }
    .call-text {
        font-size: 13px;
        font-family: Montserrat Regular;

    }
    .call-button{
        font-size: 14px;
        font-family: MontserratBold;

    }
    .call-button-box {

        margin: 15px 5px 3px 5px;
        padding: 10px 5px;
        line-height: 1;
        vertical-align: 0%;
    }
    .call-back {
        margin-bottom: 15px;
    }
    .house-info{
        /* display: flex; */
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 2px 8px 0px rgba(26, 23, 64, 0.15);
        padding: 10px 10px 10px 20px;
        margin-bottom: 10px;
        padding: 10px 10px 10px 15px;

    }
    .pad-left{
        padding-left: 5px;
    }
    .info-popup-title{
        font-size: 14px;
    }
    .info-popup-title-full {
        display: none;
    }
    .info-popup-title-short {
        display: inline;
    }
    .popup-text-info{
        font-size: 16px;
    }
    .popup-text-under{
        font-size: 13px;
    }
    .number-send{
        display: block;
    }
    .number-placeholder input{
        font-size: 14px;
        margin-bottom: 20px;
        background: #00B000;
    }
   
    .number-button{
        font-size: 14px;
        padding: 16px 5px;
    }
    .number-button span{
        display: none;
    }
    .price-number-wrapper{
        background: #00BB00;
    }
    
    .info-popup-wrapper {
        margin-bottom: 20px;
    }
    .info-popup-wrapper-list-item{
        flex-direction: column;
        padding: 8px 0;
    }
    .data-popup{
        padding-bottom: 1px;
    }
    .popup-text-info span{
        display: inline-block;
    }

}



  .sale-phone-wrapper {
    /* min-width: 320px;
    max-width: 500px; */
    padding: 0 0px;
    box-shadow: 0px 2px 8px 0px rgba(26, 23, 64, 0.15);
    
    
    /* margin: 0 auto; */
    background: #fff;
    border-radius: 5px;
    /* display: flex;
    flex-direction: column; */
  }
  .tabs-wrapper{
      /* display: flex; */
      /* margin-bottom: 20px; */
  }
  .button-wrapper{
      display: flex;
      border-bottom: 1px solid #D9DDDF;
      padding: 0 25px;
      box-sizing: border-box;
  }
  .tab-button{
      cursor: pointer;
      color: #888;
      line-height: 1;
      padding: 17px 2px;
      border: none;
      background: #fff;
      margin-right: 25px;
      outline:none;
      color:#9DA0A3;
      font-family: Montserrat Regular;
      font-size: 16px;
  }
  .tab-active{
    color: #42484D;
    outline:none;
    border-bottom: 3px #4EBB00 solid;
  }
  .tab{
      padding: 25px 25px;
      line-height: 1;
      display: flex;
      align-items: center;

  }
  .tab-content a{
    color: #42484D;
    font-family:MontserratBold ;
    font-size:22px ;
}
.tab-phone-button{
    cursor: pointer;
    background: #4EBB00;
    border-radius: 35px;
    line-height: 1;
    height: 40px;
    vertical-align: middle;
    padding: 13px 33px;
    color:#fff;
    font-size:14px ;
    font-family: MontserratSemiBold;
    box-shadow: 0px 5px 10px rgba(78, 187, 0, 0.4);

}
.tab-phone{
    line-height: 1;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.tab-content{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
} 
.price-number-wrapper{
    width: 100%;
    padding: 0px;

}
.number-placeholder{
    /* display: flex; */
    flex-grow: 1;
    width: 100%;
    margin: 0 10px;
    

}

.number-placeholder input{
    border-radius: 35px;

    border: 1px #E5E8E9 solid;
    color:#9DA0A3;
    padding: 10px 0px;
    font-size: 14px;
    font-family: MontserratSemiBold; 
    width: 100%;
    text-align: center;
    
}

::placeholder{
    color:#9DA0A3;
}
.number-send{
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
}
.number-button{
    cursor: pointer;
    background: #4EBB00;
    border-radius: 35px;
    line-height: 1;
    /* height: 40px; */
    vertical-align: middle;
    padding: 12px 0px;
    color: #fff;
    font-size: 14px;
    font-family: MontserratSemiBold;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(78, 187, 0, 0.4);
    flex-grow: 1;
    width: 100%;
    margin: 0 10px;
}
.popup-apartment-specifications-title.confidential-policy{
    font-size: 12px;
    color: #7C858B;
    font-family: Montserrat Regular;
    padding: 20px 0 0px 0;
    width: 100%;
    box-sizing: border-box;
    white-space: normal;

}
.popup-apartment-form-success {
    text-align: center;
    font-size: 14px;
    color: #42484D;
}
.work-time{
    color:#9DA0A3;
    font-family: Montserrat Regular ;
    font-size:14px ;
}
.work-time-data{
    color:#42484D;
}
.work-time-wrapper{
    display: none;
    padding-bottom: 7px;
}
.work-time-icon{
    margin-right: 15px;
}
.work-time-title{
    margin-bottom: 5px;
}


.m-min-height{
    min-height: 250px;
}
.m-sale-phone-box{
    padding: 20px;
    /* min-height: 260px; */
}
.m-phone-title{
    color: #3D464C;
    font-size: 16px;
    font-family:MontserratBold ;
    text-align: center;
    margin-bottom: 5px;
}
.m-phone-text{
    color: #79868C;
    font-size: 14px;
    font-family:Montserrat Regular;
    text-align: center;
    margin-bottom: 20px;
}
.m-call-button .main-phone{
    line-height: 1;
    display: flex;
    align-items: center;
    color: #fff;

}
.m-call-button {
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-family:MontserratSemiBold ;
    text-align: center;
    border-radius: 35px;
    background-color: #00BC00;
    box-shadow: 0px 3px 6px 0px rgba(78, 187, 0, 0.4);
    margin-bottom: 15px;
    padding: 16px 5px;
    line-height: 1;
    position: relative;
    display: flex;
    justify-content: center;
}
.m-call-button img {
    /* display: block; */
    margin-left: -16px;
    /* margin-top: -5px; */
    /* position: absolute; */
    margin-right: 15px;
}
.padd-button{
    padding: 12px 5px;
}
.m-sale-phone-box2{
    padding: 15px 20px 20px 20px;
    /* min-height: 258px; */
    display: none;
}
.m-mar-bot0{
    margin-bottom: 0px;
}
.m-call-back{
    cursor: pointer;
    color: #00AF00;
    font-size: 14px;
    font-family:MontserratSemiBold ;
    text-align: center;
    border-radius: 35px;
    border: 1px #00AF00 solid;
    padding: 16px 5px;
    line-height: 1;
}
.m-button-back{
    cursor: pointer;
    color: #BDC1C4;
    font-size: 14px;
    font-family:MontserratSemiBold;
    text-align: center;
    margin-bottom: 30px;
    margin: 0 15px 30px 15px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px #D8DEE0 solid;
    line-height: 1;
}
.m-phone-title2 {
    color: #3D464C;
    font-size: 16px;
    font-family: MontserratBold;
    text-align: center;
    margin-bottom: 15px;
}
.m-number-placeholder input{
    border-radius: 35px;

    border: 1px #D6DADC solid;
    color:#9DA1A5;
    padding: 15px 0px;
    font-size: 14px;
    font-family: MontserratSemiBold; 
    width: 100%;
    text-align: center; 
    margin-bottom: 15px;
    line-height: 1;
}


.m-number-placeholder ::placeholder{
    color:#9DA1A5;
    line-height: 1;
}
